### Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [11]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

### Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [12]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)

print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

### Q3. Create a Pandas DataFrame that contains the following data:

		Name              Age              Gender
        Alice             25               Female
        Bob               30                Male
        Claire            27               Female
        
        Then, print the DataFrame.

In [13]:
import pandas as pd

data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}

df = pd.DataFrame(data)

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

### Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types, like a spreadsheet or SQL table. It is the most commonly used Pandas object, and it is a primary tool for data analysis and manipulation.

On the other hand, a Series is a one-dimensional labeled array that can hold any data type. It is a basic building block of Pandas, and it is often used to represent a single column of data within a DataFrame.

an example to illustrate the difference between a DataFrame and a Series:

In [14]:
import pandas as pd

# Create a dictionary with two columns of data
data = {
    'Name': ['Alice', 'Bob', 'Claire'],
    'Age': [25, 30, 27]
}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column of the DataFrame
ages = df['Age']

# Print the DataFrame and Series
print("DataFrame:\n", df)
print("Series:\n", ages)

DataFrame:
      Name  Age
0   Alice   25
1     Bob   30
2  Claire   27
Series:
 0    25
1    30
2    27
Name: Age, dtype: int64





As you can see, the DataFrame is a two-dimensional object with two columns ('Name' and 'Age') and three rows of data. Each column is a Series, with the 'Name' column being a Series of strings and the 'Age' column being a Series of integers.

The Series, on the other hand, is a one-dimensional object that represents a single column of data from the DataFrame (in this case, the 'Age' column). It has an index that corresponds to the row labels in the DataFrame, and it has a data type that corresponds to the data type of the column in the DataFrame.

In summary, a DataFrame is a two-dimensional object that can hold multiple columns of data, while a Series is a one-dimensional object that represents a single column of data within a DataFrame.

### Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

There are numerous functions available in Pandas to manipulate data within a DataFrame. Some common functions are:

head() and tail(): These functions allow you to view the first or last n rows of the DataFrame, respectively. For example, you might use df.head() to quickly view the first five rows of a large DataFrame.

describe(): This function provides a summary of the DataFrame, including count, mean, standard deviation, and quartiles for each column. You might use df.describe() to get an overview of the data before performing more detailed analysis.

dropna(): This function allows you to drop rows or columns that contain missing values. You might use df.dropna() to remove any incomplete rows or columns before analyzing the data.

groupby(): This function allows you to group the DataFrame by one or more columns, and then perform operations on each group. You might use df.groupby('column_name').mean() to calculate the mean value of each group based on a particular column.

sort_values(): This function allows you to sort the DataFrame by one or more columns. You might use df.sort_values('column_name') to sort the data in ascending order based on a particular column.

merge(): This function allows you to combine two or more DataFrames based on a common column. You might use pd.merge(df1, df2, on='column_name') to join two DataFrames based on a common column.

apply(): This function allows you to apply a function to each element of the DataFrame. You might use df['column_name'].apply(lambda x: x*2) to multiply each element in a particular column by 2.

These are just a few examples of the many functions available in Pandas for manipulating data in a DataFrame. The choice of function will depend on the specific task at hand and the structure of the DataFrame.

### Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Both Series and DataFrame are mutable in nature, which means that you can modify the data they contain. A Series is a one-dimensional array-like object and a DataFrame is a two-dimensional object that is made up of multiple Series objects. Both of these objects can be modified by assigning new values to specific rows or columns, adding or removing rows or columns, or applying functions to the data.

On the other hand, a Panel is a three-dimensional data structure in Pandas, which is used to handle data with multiple dimensions. However, Panels are not mutable in the same way as Series and DataFrame objects. Instead, they are treated as immutable objects, meaning that you cannot modify their values directly. Instead, you would need to create a new Panel object with the desired changes. However, the Panel object has been deprecated in recent versions of Pandas, and is no longer recommended for use. Instead, you can use higher-dimensional arrays, such as NumPy arrays or xarray objects, to handle multidimensional data in Pandas.

### Q7. Create a DataFrame using multiple Series. Explain with an example.

To create a DataFrame using multiple Series in Pandas, you can pass a dictionary of Series objects to the DataFrame constructor. Each Series will become a column in the resulting DataFrame, and the keys of the dictionary will be used as the column names.

Example:-

In [15]:
import pandas as pd

# Create a Series of names
names = pd.Series(['Alice', 'Bob', 'Claire'])

# Create a Series of ages
ages = pd.Series([25, 30, 27])

# Create a Series of genders
genders = pd.Series(['Female', 'Male', 'Female'])

# Create a dictionary of Series
data = {'Name': names, 'Age': ages, 'Gender': genders}

# Create a DataFrame using the dictionary of Series
df = pd.DataFrame(data)

# Print the resulting DataFrame
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

we first created three Series objects representing names, ages, and genders of three people. We then combined these Series into a dictionary where the keys are the column names, and the values are the Series objects. Finally, we passed this dictionary to the DataFrame constructor to create a new DataFrame containing the combined data. The resulting DataFrame has three columns representing the name, age, and gender of each person.