#### 1.
	Write a program to accept percentage from the user and displaay the grade according to the  following criteria.

	Marks                                   Grade
    
    >90                                      A
    >80 and <=90                             B
    >=60 AND <=80                            C
    below 60                                 D

In [1]:
marks = int(input("Enter the marks:"))
if marks > 90:
    print("A")
elif marks>80 and marks<=90:
    print("B")
elif marks >=60 and marks<=80:
    print("C")
else:
    print("D")

Enter the marks: 85

B

#### 2. 
	Write a program to accept the cost price of the bike and display the road tax to be paid according to the following criteria.

	Tax                                     Cost price(In Rs)
    15%                                     >100000
    10%                                     >50000 and <=100000
    5%                                      <=50000

In [2]:
Cost_Price = int(input("Enter the Cost:"))
if Cost_Price >100000:
     Road_Tax = Cost_Price*0.15
elif Cost_Price >50000 and Cost_Price <=100000:
     Road_Tax = Cost_Price*0.1
else:
     Road_Tax = Cost_Price*0.05
print("The road tax to be paid in Rs:",Road_Tax)

Enter the Cost: 500000

The road tax to be paid in Rs: 75000.0

#### 3. 
	Accept any city from the user and Display Monuments in City
	
    	City                        Monument
        Delhi                        Red Fort
        Agra                         Taj Mahal
        JaiPur                       Jal Mahal

In [4]:
City_name = input("Enter the city name:")
if City_name == "Delhi":
    print("Red Fort")
elif City_name == "Agra":
    print("Taj Mahal")
else:
    print("Jal Mahal")

Enter the city name: Agra

Taj Mahal

#### 4. 
	Check how many times the given number can be divided by 3 before it is less than or equal to 10.

In [5]:
number = int(input("Enter a number: "))
count = 0

while number > 10:
    number /= 3
    count += 1

print("The number can be divided by 3", count, "times before it is less than or equal to 10.")

Enter a number:  100

The number can be divided by 3 3 times before it is less than or equal to 10.

#### 5.
	Why and when to use While loop in python give a detailed description with example.

The while loop in Python is a control flow statement that allows us to execute a block of code repeatedly as long as a certain condition is true. The condition is checked at the beginning of each iteration of the loop, and the loop continues until the condition becomes false. While loops are useful in situations where we need to repeatedly perform an action until a certain condition is met.

In [6]:
count = 0
while count < 5:
    print(count)
    count += 1

0
1
2
3
4

#### 6. use nested while loop to print 3 different patterns.

In [8]:
#Patteren 1:Square
size = int(input("Enter the size of the square: "))

row = 1
while row <= size:
    col = 1
    while col <= size:
        print("*", end=" ")
        col += 1
    print()
    row += 1

Enter the size of the square:  5

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [9]:
#Patteren 2: Right Triangle
size = int(input("Enter the size of the triangle: "))

row = 1
while row <= size:
    col = 1
    while col <= row:
        print("*", end=" ")
        col += 1
    print()
    row += 1

Enter the size of the triangle:  5

*
* *
* * *
* * * *
* * * * *

In [10]:
#Patteren 3: Diamond
size = int(input("Enter the size of the diamond: "))

# Upper half of diamond
row = 1
while row <= size // 2 + 1:
    col = 1
    while col <= size - row:
        print(" ", end=" ")
        col += 1
    col = 1
    while col <= 2 * row - 1:
        print("*", end=" ")
        col += 1
    print()
    row += 1

# Lower half of diamond
row = size // 2
while row >= 1:
    col = 1
    while col <= size - row:
        print(" ", end=" ")
        col += 1
    col = 1
    while col <= 2 * row - 1:
        print("*", end=" ")
        col += 1
    print()
    row -= 1

Enter the size of the diamond:  5

        *
      * * *
    * * * * *
      * * *
        *

#### 7. Reverse a while loop to display numbers from 10 to 1.

In [11]:
i = 10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

#### Same Question Repeateed again

#### 8. Reverse a while loop to display numbers from 10 to 1

In [7]:
i = 10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1